div.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;

  img {
    margin: 0.3rem;
    width: 16vw;
    height: 6vw;
  }
  ul {
    display: flex;
    li {
      list-style-type: none;
      font-size: 20px;
      padding: 0.5rem 1.5rem;
    }
  }
}

div.bar {
  background-color: antiquewhite;
  margin-bottom: 1rem;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      font-size: 20px;
      list-style-type: none;
    }
  }
}
