div.homePage {
  width: 100%;
  padding-top: 0.5rem;
}

div.homePage div.bar {
  background-color: antiquewhite;
  margin-bottom: 1rem;
}

div.homePage div.bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.homePage div.bar ul li {
  font-size: 20px;
  list-style-type: none;
}

div.homePage div.introImage img {
  display: block;
  margin: auto;
  width: 25vw;
  height: 40vw;
}

div.homePage div h2 {
  margin-left: 1rem;
}

div.homePage div.itemCategories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 1rem;
  max-width: 100%;
}

div.homePage div.itemCategories a {
  margin: 0rem 0.5rem;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.homePage div.itemCategories a img {
  margin-right: 1rem;
  width: 3vw;
  height: 3vw;
}

div.homePage div.itemCategories a p {
  font-size: 16px;
}

div.homePage div.itemsPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 0rem;
  max-width: 100%;
}

div.homePage div.itemsPreview div.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 1rem 2rem;
  margin: 0rem 0.5rem;
}

div.homePage div.itemsPreview div.item img {
  width: 8vw;
  height: 8vw;
}

div.homePage div.itemsPreview div.item p {
  font-size: 20px;
}

div.homePage div.itemsPreview div.item p.price {
  color: red;
}

div.homePage div.itemsPreview div.item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.homePage div.itemsPreview div.item div a {
  padding: 0.3rem 0.5rem;
  margin: 0rem 0.3rem;
  border: 1px solid black;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0rem 5rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

div.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

div.navBar img {
  margin: 0.3rem;
  width: 16vw;
  height: 6vw;
}

div.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.navBar ul li {
  list-style-type: none;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
}
